<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>userGUI</title>
  <link rel="stylesheet" href="/styles/styleManager/styleManagerGUI.css" />
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=logout"
  />
</head>
<body>
<div class="topBar">
  <div class="image">
    <img src="/images/logoOffWhite.png"/>
  </div>

  <form class="logout" method="POST" th:action="@{/shared/logout}">
    <button class="logoutBtn" type="submit">
      <span class="material-symbols-outlined"> logout </span>
    </button>
  </form>
</div>
<div class="container">
  <div class="title">
    <p class="titleEle">Hello there, </p>
    <p class="titleEle" th:text="${manager.name}"></p>
    <p class="titleEle">:)</p>
  </div>
  <div class="choices">
    <a class="btn" th:href="@{/manager/createTeam}">
      Create a new team
    </a>
    <a class="btn" th:href="@{/manager/assignUserToTeamUI}">
      Assign a user to a team
    </a>
    <a class="btn" th:href="@{/manager/viewTeams}">
      View teams
    </a>
    <a class="btn" th:href="@{/manager/createTask}">
      Create a task
    </a>
    <a class="btn" th:href="@{/manager/viewReport}">
      View tasks report
    </a>
  </div>

</div>

<div class="bottomBar"></div>
</body>
</html>
